body {
  font-size: 100% !important;
}

/* Free the people from the tyranny of the useless search button */
#edit-submit-actor-search{
  display: none;
}

/* Remove the revision message box. Temporary until can place it properly */
#edit-revision-log-message-wrapper{
  display: none;
}

/* Same for revision checkbox. */
.js-form-item.form-item.js-form-type-checkbox.form-type-checkbox.js-form-item-new-revision.form-item-new-revision {
  display: none;
}

/* Style the search box in header bar. */
#block-exposedformactor-searchpage-1 {
  top: -20px;
}

#block-exposedformactor-searchpage-1 #edit-actions {
  padding-top: 0;
}

#block-exposedformactor-searchpage-1 .form-text {
  width: 200px;
}

/* Make drop-down nav menu opaque */
.block-superfish .menu ul {
  background: white;
  color: darkgray;
}
.block-superfish .menu ul li {
  border-bottom: 1px dotted darkgray;
}
.block-superfish .menu ul li a:hover {
  color: black;
}

/* In views, display label at top of field. Ths is because full descriptions are displayed in the activity view so having the label in the middle means it disappears down the page. */
td.views-field {
    vertical-align: top;
}

/* Entity displays */
.oc_entity .left {
  display: inline-block;
  width: 45%;
  padding: 1em;
}

.oc_entity .right {
  display: inline-block;
  width: 45%;
  padding: 1em;
  float: right;
}
.oc_entity .field {
  margin-top: 1em;
}

/* Make entity reference field labels match normal field labels */
.field--type-entity-reference .field__label {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em !important;
  font-weight: bold !important;
}
