/* this part is for the wider theme and will be removed */
a.site-branding__logo img {
  max-width: 100px;
}

/* a hack to show different links in sidebar - temporary */
.zencrm_creationlinks.authorised_only {
   display: none;
}

.user-logged-in .zencrm_creationlinks.authorised_only {
  display: block;
}

.zencrm_creationlinks.anonymous_only {
   display: block;
}

.user-logged-in .zencrm_creationlinks.anonymous_only {
  display: none;
}

/* Module-specific from here. */

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    width: 100%;
}

button.button--primary.js-form-submit.form-submit.ui-button.ui-corner-all.ui-widget {
  margin-left: 73%;
}

button.button.button--danger.ui-button.ui-corner-all.ui-widget {
    float: left;
    color: red;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons {
    min-width: 550px;
    border: 20px solid rgba(0, 0, 0, 0.51);
}

.tabledrag-toggle-weight-wrapper {
  display: none;
}

#content .zencrm_case_details {
  display: none; /* don't show case as main content - it's shown in sidebar */
}

div.region.region-primary-menu {
  display:none;
}

.field--name-contact-details a {
  border-bottom: none;
}

.sidebar .field--type-entity-reference {
    margin: 1em 0 0 0;
}

.region-sidebar-second .view-content li, .region-sidebar-second .views-row, .region-sidebar-second .zencrm_inner_sidebar_block {
    border-bottom: 10px solid #e6e6d3;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background: #eeeedb;
    border: 1px solid lightgrey;
    margin-bottom: 10px;
}

.sidebar .region-sidebar-second h2 {
  font-size: 1.6em;
  text-align: center;
  border-bottom: 1px solid grey;
}

.sidebar .views-field.views-field-type, .sidebar .field--name-type, .zencrm_inner_sidebar_block .zencrm_title {
    padding-bottom: 12px;
    font-size: 1.4em;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.zencrm_inner_sidebar_block .zencrm_title {
   font-size: 1.2em;
    padding-bottom: 5px;
}
 
.sidebar .field__label, .sidebar .field--type-entity-reference .field__label,  .form-item   label {
    font-size: 1em;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sidebar .views-element-container .field, .sidebar .zencrm_inner_sidebar_block .field {
    padding-bottom: 15px;
}

.sidebar .views-element-container .field .field__item, .sidebar .zencrm_inner_sidebar_block .field__item {
  font-size: 1.1em;
}

.region-sidebar-second .view-content li, .region-sidebar-second .views-row {
    padding-bottom: 20px;
    padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
    background: #eeeedb;
}

.region-sidebar-second .views-element-container.block, #block-casedetails {
  padding-right: 10px;
  padding-left: 10px;
}

.zencrm_creationlinks {
  padding: 10px 10px 10px 20px;
    font-size: 1.2em;
  
}

.sidebar .zencrm_links {
  font-size: 1.2em;  
}

.sidebar .zencrm_links p, .sidebar .zencrm_creationlinks p {
  margin-bottom: 0.5em;
}

.zencrm_creationlinks p {
    margin-bottom: 0.5em;
}

.sidebar .zencrm_creationlinks {
    padding: 5px;
    font-size: 1.3em;

}

.sidebar .zencrm_editlink {
    font-size: 1.2em;
    text-align: right;
}

#block-hatcreator {
    padding: 0;
    border: none;
    margin: 0;
}
