{#
/**
 * @file case_entity.html.twig
 * Default theme implementation to present Case entity data.
 *
 * This template is used when viewing Case entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_case_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('case_entity') }}>
  {% if content %}
     {# removed content because case page is managed via views and blocks #}   
  {% endif %}
</div>
