{#
/**
 * @file contact_details.html.twig
 * Default theme implementation to present Contact Details data.
 *
 * This template is used when viewing Contact Details pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_contact_details()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('contact_details') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
