{#
/**
 * @file profile.html.twig
 * Default theme implementation to present Profile data.
 *
 * This template is used when viewing Profile pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_profile()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('profile') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
