.facet-item label {
    display: inline;
    padding-left: 5px;
}

li.facet-item {
      list-style-type: none;
}

.views-data-export-feed.csv-feed .feed-icon {
  background-image: url(/modules/contrib/opencase/modules/opencase_reporting/assets/download.png);
  width: 200px;
  height: 27px;
  float: right;
}
