<div id="opencase_reporting_buttons">
  <button id="update-preset">Update template</button>
  <button id="save-as-new-preset">Save as new template</button>
  <button id="download-data">Download data</button>
</div>
