{#
/**
 * @file opencase_report.html.twig
 * Default theme implementation to present OpenCase Report data.
 *
 * This template is used when viewing OpenCase Report pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_opencase_report()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('opencase_report') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
