{#
/**
 * @file oc_actor.html.twig
 * Default theme implementation to present Actor data.
 *
 * This template is used when viewing Actor pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_oc_actor()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('oc_actor') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
